<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/blogshow.admin.css">
    <link rel="stylesheet" href="../styles/nav.admin.css">
    <title>Show Blog</title>
</head>

<body>
    <header>
        <nav class="navMain">
            <div class="content">
                <div class="logo">
                    <a href="/client"><img class="logoBrabu" src="../img/logo.png" alt="" /></a>
                </div>
                <ul class="navLinks">
                    <li><a href="/client">Our Clients</a></li>
                    <li><a href="/carousel">Add Carousel</a></li>
                    <li><a href="/client/new">Add Client</a>
                    <li><a href="/blog">Add Blog</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section>
        <div class="sectionBlogShow">
            <div class="divBlogShow">
                <div>
                    <h1 class="honeTag">
                        <%= blogs.name %>
                    </h1>
                    <p class="paragraphBlogShow">
                        <%= blogs.paragraph %>
                    </p>
                </div>
                <div>
                    <img class="imageDivBlogShow" src="<%= blogs.imageBlog.url %>" alt="">
                </div>
                <div class="buttonAllBlog">
                    <a class="buttonBlogEdit" href="/blog/<%= blogs._id %>/edit">Edit</a>
                    <form action="/blog/<%= blogs._id %>?_method=DELETE" method="POST">
                        <button class="buttonBlogDelete">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>